
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex-basis: 60%;
}

.formModal {
  flex-basis: 40%;
}


@media (max-width: 850px) {
  .section {
    display: block;
    margin: 0 auto;
    flex-basis: 100%;
  }
  .contact-title,
  .contact-info {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
