.container {
  margin: 0 auto;
}

.heroDiv .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.homeSection {
  scroll-margin-top: 50px;
  scroll-behavior: smooth;
  transition-duration: 1.5s;
}