.projectSection {
  height: 100vh;
  scroll-margin-top: 250px;
  scroll-behavior: smooth;
  transition-duration: 1.5s;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2rem;
}

.projects {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.projects>div {
  position: relative;
}

.projects img {
  display: block;
  width: 100%;
  height: auto;
}

.projects>div>div {
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-dark);
  opacity: 0;
  transition: opacity 0.5s;
}

.projects>div:hover>div {
  opacity: 1;
}

.projects>div>div>p {
  padding: 20px 10px;
  font-weight: bold;
  text-align: center;
  opacity: 0.8;
}

.projects>div>div>div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.projects>div>div>div>a {
  padding: 10px 25px;
  margin-right: 5px;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.projects>div>div>div>a:hover {
  background-color: var(--purps);
}

.projects>div>div>div>a:last-child {
  background-color: var(--aqua);
  color: var(--bs-dark);
}

.projects>div>div>div>a:last-child:hover {
  background-color: var(--bs-dark);
  color: #fff;
}

.btn {
  height: 1rem;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-between;
  }

}