.footer code {
  font-size: 10px;
  color: var(--aqua);
  font-family: monospace;
  font-size: 18px;
}

.footer strong {
  color: var(--peachy);
  font-family: monospace;
  font-size: 18px;
}

.artist {
  font-size: 12px;
}

.artist a {
  color: var(--aqua);
}


/* footer icons */

.ulIcons {
  margin: 0 auto;
}

.ulIcons img {
  width: 24px;
}

.ulIcons>li {
  display: inline-block;
  padding: 1rem 1rem;
}

@media screen and (max-width: 777px) {
  .footer {
    font-size: 16px;
    padding: 0 1rem;
    bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 14px;
    padding: 0 1rem;
    bottom: 0;
  }
}

@media screen and (max-width: 414px) {
  .footer {
    font-size: 12px;
    padding: 0 1rem;
    bottom: 0;
  }
  .artist {
    font-size: 10px;
    padding: 0 1rem;
    bottom: 0;
  }
}