/* Reseting */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--purps);
}
 
.wrapper {
  max-width: 450px;
  margin: 50px auto;
  height: 600px;
  overflow: hidden;
  box-shadow: 5px 25px 35px #3535356b;

}

.wrapper .text-white {
  font-size: 3rem;
}

.wrapper .bg-purps {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;

}

.wrapper .contact-form {
  width: 50%;
  padding: 40px 80px 40px 50px;
  background-color: var(--bg-secondary);
}

.wrapper .contact-form .h3 {
  padding-top: 15px;
  font-weight: 700;
}

.wrapper .contact-form label {
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 10px;
}

.wrapper .contact-form textarea {
  height: 120px;
}

.wrapper .contact-form .form-control {
  background-color: #e7e7e7;
  box-shadow: none;
  font-weight: 600;
  font-size: 0.95rem;
  border: none;
  border-top: 1px solid #bbb;
}


.wrapper .contact-form .btn {
  font-size: 1.2rem;
  font-weight: 700;
}

.wrapper .contact-form .btn.btn-default {
  color: var(--purps);
}


.wrapper .contact-form .btn.btn-primary {
  background: var(--bg-secondary);
  border: none;
  padding: 8px 18px;
  box-shadow: 0 8px 12px #3535356b;
}

.wrapper .contact-form .btn.btn-primary:hover {
  background-color: var(--purps);
}

.modal .modal-content .modal-header .fas {
  color: var(--bg-primary);
}

@media(max-width: 900.5px) {
  .wrapper {
      margin: 20px;
  }
}

@media(max-width: 575.5px) {

  .wrapper .contact-form {
      padding: 40px;
  }

  .wrapper .bg-yellow {
      padding-left: 30px;
  }
}

@media(max-width: 496px) {

  .wrapper .bg-yellow {
      display: none;
  }

}

@media(max-width: 350px) {

  .wrapper {
      height: 570px;
  }

  .wrapper .contact-form {
      padding: 20px;
  }
} */
