.heroSection {
  margin-top: 1rem;
}

.heroInfo {
  margin-top: -2rem;
}

.btnCTA:hover {
  background-color: var(--bs-dark);
}

@media screen and (min-width: 1240px) {
  .heroInfo h1 {
    font-size: 74px;
  }
}

@media screen and (max-width: 770px) {
  .heroInfo {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 540px) {
  .heroInfo h1 {
    font-size: 44px;
  }
}