.heroSection {
  margin-top: 2rem;
}

.heroInfo {
  margin-top: -2rem;
}

.btnCTA {
  border-radius: 3px;
}

.btnCTA:hover {
  background-color: var(--bs-dark);
}

@media screen and (min-width: 1240px) {
  .heroInfo h1 {
    font-size: 74px;
  }
}

@media screen and (max-width: 540px) {
  .heroInfo h1 {
    font-size: 44px;
  }
}