/* NavBar.module.css */

.toggleNavList li {
  margin-top: 2rem;
  z-index: 999;
}

.nav-items {
  font-family: 'Raleway', sans-serif;
}

nav li a {
  @apply px-4 py-5 text-lg;
  z-index: 999;
}

nav li a:hover {
  color: var(--lumi);
}

.nameTag {
  color: var(--purps) !important;
}

@media (max-width: 1024px) {
  .mobile-nav {
    display: block;
  }
}

/* 
.mobile-nav {
  position: fixed;
  top: 10px;
  background-color: #7b7b7b;
  padding: 4px;
  width: 50%;
  height: 100%;
  transition-duration: 500ms;
} */


/* .mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
} */

/* .backgroundOff {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none; 
  transition: opacity 0.3s ease-in-out;
} */

/* .backgroundOn {
  display: block;
} */

/* .backgroundOff {
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.backgroundOn {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
} */