
/* hero-anim squares */
.header {
  background-color: var(--bs-dark);
}

.flex-Container {
  display: flex;
  justify-content: center;
}

.bgGridContainer {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 3px;
  max-width: 100vw;
  width: 100%;
  height: 230px;
  padding: 2rem;
  padding-top: 0;
  z-index: -1;
  background-color: var(--bs-dark);
}

.gridItem {
  /* background-color: white; */
  border: 1px solid var(--bs-dark);
  box-sizing: border-box;
}

.aqua {
  background-color: var(--aqua);
  animation: colourFade 1.3s ease alternate infinite;
}

.green {
  background-color: var(--lumi-yellow);
  animation: colourFade 2.3s ease alternate infinite;
}

.peach {
  background-color: var(--peachy);
  animation: colourFade 2.5s ease alternate infinite;
}

.purple {
  background-color: var(--purps);
  animation: colourFade 1.4s ease alternate infinite;
}

.pink {
  background-color: var(--lumi-pink);
  animation: colourFade 2.5s ease alternate infinite;
}

@keyframes colourFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes colourFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .flex-container {
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(6, 20px);
    height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .flex-container {
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(5, 20px);
    height: 125px;
  }
}

@media screen and (max-width: 480px) {
  .flex-container {
    grid-template-columns: repeat(12, 20px);
    grid-template-rows: repeat(4, 20px);
    height: 95px;
  }
}