/* app styling (master) */
@import './index.css';
@import './tailwind.css';

:root {
  --background: #DFE1DE;
  --bs-dark: #222529;
  --bs-tone: #313437;
  --dark: #6E6E73;
  --color-dark: #303030;
  --color-light: #fff;
  --lumi-green: #73ff00;
  --lumi-pink: #ff00dd;
  --bg-grey: #BCBEC3;
  --gb-dark-grey: #626C7A;
  --peachy: #F3AEAC;
  --peachier: #EA655D;
  --purps: #A5ACF5;
  --aqua: #74FBB5;
  --lumi: #bfff00;
  --gradient: linear-gradient(45deg,
      rgba(47, 47, 47, 0.8) 0%,
      rgba(119, 119, 119, 0.9) 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* * {
  border: 1px solid rgb(146, 236, 20);
} */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: var(--gradient),
    url("../src//assets/png/code_unsplash-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

em {
  color: var(--lumi-pink);
}

b {
  color: var(--lumi-green);
}

/* hero */
h1 {
  font-family: 'Raleway';
  line-height: 1.5 !important;
  color: var(--color-dark);
}

a {
  z-index: 999;
}

a:hover {
  color: var(--lumi);
}

p {
  color: var(--color-dark);
}

.nav-links ul>li {
  z-index: 999;
}

li:hover {
  color: var(--lumi);
}

/* color */
.bg-primary {
  background: var(--bs-dark);
}

.bg-secondary {
  background: var(--bs-tone);
}

.bg-accent {
  background: var(--purps);
}

.text-accent {
  color: var(--purps);
}

.text-hl {
  color: var(--lumi-pink);
}